NEXT_PUBLIC_SAPPHIRE_RPC=https://testnet.sapphire.oasis.io
NEXT_PUBLIC_SAPPHIRE_MAINNET_RPC=
NEXT_PUBLIC_FACTORY_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
VITE_WALLET_CONNECT_PROJECT_ID=78b21896515b8a0d11b468d1a1fdc048

