PRIVATE_KEY=0xYourPrivateKeyHere
SAPPHIRE_RPC=https://testnet.sapphire.oasis.io
CHAIN_ID=23295
# Collateral token to use for markets (deploy a mock on testnet or set to an existing ERC20)
COLLATERAL_TOKEN=0xYourCollateralToken
FACTORY=0xc3dF085Eb9A31659E825643B763fC1F1e9fc950C